<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <nav>
        <a href="{% url 'home' %}">Main Page</a>
        {% if user.is_authenticated %}
            Hello {{ user.username }}!
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'create_project' %}">Create Project</a>
            <a href="{% url 'create_task' %}">Create Task</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </nav>
    <body>
        <main>
            <div>
                <h1>My Projects</h1>
                {% if projects %}
                    <table>
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for names in projects %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' names.id %}">{{ names.name }}</a>
                                    </td>
                                    <td>{{ names.tasks.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You are not assigned to any projects</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
